<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
    <h1>Welcome to text analyzer</h1>
    <form action='/analyze' method='post'>
        <textarea name='text' style='Margin:0px;width:100px;height:100px;'></textarea><br>
        <button type='submit'>Analyze test</button><br>
        <input type="checkbox" name="removepunc">Remove Punctuations<br>
        <input type="checkbox" name="capitalize">Capitalize<br>
        <input type="checkbox" name="newline">New Line Remover<br>
        <input type="checkbox" name="etxraspace">Extra Spaces Remover
    </form>
</body>

</html>